.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tasks {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}


.todo {
  padding: 2rem;
  border: 2px solid black;
}